@{
    ViewData["Title"] = "Home Page";
}
@model HomeViewModel
<section id="hero">
    <div class="hero-container">
        <h1 class="animate__animated animate__backInDown">Ayobami Fadeni</h1>
        <h2 class="animate__animated animate__backInLeft animate__delay-1s">I'm a FullStack Software Developer </h2>
        <button class="hero-btn animate__animated animate__fadeIn animate__delay-2s">More</button>
    </div>
</section><!-- End Hero -->

<section id="about" class="about">
    <div class="container mobile-container" data-aos="fade-up" data-aos-once="true">
        <div class="section-title">
            <h2>About</h2>
            <div class="underline"></div>
            <p class="text-lg-center">This is a brief summary about me. It contains basic information about myself, the services I offer and projects done</p>
        </div>

        <div class="row">
            <div class="image col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-once="true"></div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>@Model.Job</h3>
                <p class="font-italic">
                    @Model.Bio
                </p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="fa fa-angle-double-right"></i>  <strong>Birthday:</strong> @Model.DateOfBirth</li>
                            <li><i class="fa fa-angle-double-right"></i>  <strong>Education:</strong> @Model.Education</li>
                            <li><i class="fa fa-angle-double-right"></i>  <strong>Phone:</strong> @Model.PhoneNumber</li>
                            <li><i class="fa fa-angle-double-right"></i>  <strong>City:</strong> @Model.City</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="fa fa-angle-double-right"></i>  <strong>Age:</strong> @Model.Age</li>
                            <li><i class="fa fa-angle-double-right"></i>  <strong>Degree:</strong> @Model.Degree</li>
                            <li><i class="fa fa-angle-double-right"></i>  <strong>Gender:</strong> @Model.Gender</li>
                            <li><i class="fa fa-angle-double-right"></i>  <strong>Work Status:</strong> @Model.WorkStatus</li>
                        </ul>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="resume-btn" data-toggle="modal" data-target="#exampleModalLong">
                    Check My Resume
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->

<section id="services" class="services">
    <div class="container mobile-container" data-aos="fade-down" data-aos-once="true">

        <div class="section-title">
            <h2>My Services</h2>
            <p>Here are the services I provide</p>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><img src="~/images/dev.svg" alt="web-dev"></div>
                    <h4 class="title">Web Development</h4>
                    <p class="description">I am skilled in designing, developing and testing multiple web-based applications incorporating a range of technologies. Aspiring to combine broad background with strong technical skills to excel as a Fullstack Developer.</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><img src="~/images/product.svg" alt="product"></div>
                    <h4 class="title">Product Management</h4>
                    <p class="description">I come up with creative strageties and marketing plans to launch any kind of product. I follow Agile methodologies in my process of managing the product</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><img src="~/images/content.svg" alt="content-dev"></div>
                    <h4 class="title">Content Development</h4>
                    <p class="description">I deliver audience captiving content of a range of topics such as technology, family, livestyle, gaming and entertainment. I also use seo tools to make sure the content would be discovered by the target audience</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End My Services Section -->

<section id="skills" class="skills">
    <div class="container mobile-container" data-aos="fade-left" data-aos-once="true">
        <div class="section-title">
            <h2>Skills</h2>
            <div class="underline"></div>
            <p>Here are a couple of programming languages and technologies i use in providing efficient software solutions</p>
        </div>
        <div class="prog-skills">
            <div class="row">
                @for (int i = 0; i < Model.Skills.Count / 2; i++)
                {
                    <div class="col-lg-6">
                        <div class="skill">
                            <label asp-for="@Model.Skills[i].Name">@Model.Skills[i].Name: <span style="color: #26537a;">@Model.Skills[i].Progress%</span></label>
                            <progress value=@Model.Skills[i].Progress max="100"> @Model.Skills[i].Progress% </progress>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="skill">
                            <label asp-for="@Model.Skills[i+3].Name">@Model.Skills[i + 3].Name: <span style="color: #26537a;">@Model.Skills[i + 3].Progress%</span></label>
                            <progress value=@Model.Skills[i+3].Progress max="100"> @Model.Skills[i + 3].Progress% </progress>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</section><!-- End Skills Section -->

<section id="projects" class="projects">
    <div class="container mobile-container" data-aos="fade-right" data-aos-once="true">
        <div class="section-title">
            <h2>Projects</h2>
            <div class="underline"></div>
            <p class="text-lg-center">Here are a couple of projects i worked on with their respective repository links.</p>
        </div>
        <div class="works">
            @foreach (var project in Model.Projects)
            {
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src=~/@project.ImageUrl alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@project.Name</h5>
                        <p class="card-text">@project.Body</p>
                        <a href=@project.Url class="btn">Show More..</a>
                    </div>
                </div>
            }

        </div>
        <div class="github"><a href="https://github.com/LegendaryAy" class="btn">Check my Github Profile...</a></div>
    </div>
</section><!-- End Projects Section -->
